* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

body {
  background-color: #ffffff;
  color: #00aeef;
  /* margin: 0 3%; */
}

h2 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-size: 1.5rem;
  color: #572e91;
}

h3 {
  font-weight: 300;
  font-size: 1.3rem;
  color: #562e90;
}

p {
  font-weight: 300;
  font-size: 1.1rem;
  color: #2f2f2f;
}

h5 {
  font-weight: 100;
  color: #00aeef;
  font-size: 1rem;
}

em {
  font-weight: 900;
  font-style: normal;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 2%;
  align-items: center;
  min-height: 5vh;
  width: 100%;

  /* background-color: #000000; */
}

.solid-nav {
  background-color: #572e91;
  transition: background-color 0.2s linear;
}

.header-left {
  display: flex;
}

.header-logo {
  display: flex;
  flex-direction: row;
}

.header-logo img {
  width: 10rem;
  height: auto;
  margin-left: 5px;
}

.header-links {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 1rem;
}

.nav-links a {
  text-decoration: none;
  font-family: "Lato", sans-serif;
  font-weight: 100;
  margin: 2rem;
  color: #00aeef;
}

.header-right a {
  padding: 0.8rem 1.5rem;
  border: 1px solid #00aeef;
  text-decoration: none;
  color: #00aeef;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #00aeef;
  margin: 5px;
}

.hr-tag {
  padding-top: 0.4%;
}

.hr-tag hr {
  background-color: #572e91;
  width: 98%;
  margin: auto;
}

.particles-js {
  display: none;
}

.count-particles {
  display: none;
}

.banner {
  display: flex;
  align-items: center;
  position: relative;
  margin: auto;
  height: 98vh;
}

.banner-flex {
  display: flex;
  flex-direction: column;
  margin: 0 2%;
}

.banner-content {
  width: 60%;
}

.video-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: -1000;
}

video {
  width: 100%;
  height: 98vh;
  object-fit: fill;
}

.support {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem 0;
  min-height: 20vh;
  background-color: #00597b;
  text-align: center;
}

.support-icons {
  margin: 0 3%;
  padding-top: 1%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.support-icons img {
  height: 4rem;
  opacity: 0.7;
}

.about {
  display: flex;
  align-items: center;
  padding: 5% 2%;
}

.about-content {
  width: 60%;
}

.about-content h3 {
  padding-bottom: 1rem;
}

.about-logo {
  width: 40%;
}

.about-logo img {
  width: 30rem;
}

.founded {
  display: flex;
  flex-direction: column;
  margin: 5% 0;
  padding: 0 2%;
}

.f2006 {
  text-align: center;
}

.vision-mission {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.biobanking {
  margin: 5% 0;
  padding: 0 2%;
  width: 100%;
  background-image: url(../asset/images/bg.jpg);
}

.journey {
  margin: 5% 0;
  padding: 0 2%;
  display: flex;
  justify-content: left;
  align-items: center;
  height: 15vh;
  background-image: url(../asset/images/journey-bg.png);
}

.journey h2 {
  color: #fff;
}

/* TimeLine styles Starts */

.hr-time {
  border: 1px solid #572e91;
  background-color: #572e91;
}

.timeline {
  position: relative;
  margin: 5px auto;
  padding: 40px 0;
  width: 90%;
  box-sizing: border-box;
  height: 35rem;
}

.timeline:before {
  content: "";
  position: absolute;
  left: 50%;
  width: 2px;
  height: 25rem;
  background: #572e91;
}

.timeline ul li {
  list-style: none;
  position: relative;
  width: 50%;
  padding: 100px 40px;
  box-sizing: border-box;
}

.timeline ul li h5 {
  color: #545454;
  font-size: 1.2rem;
}

.timeline li:nth-child(odd) {
  float: left;
  text-align: left;
  clear: both;
  padding-right: 0;
  padding-top: 0;
  padding-bottom: 40px;
}
.timeline li:nth-child(even) {
  float: right;
  text-align: right;
  clear: both;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 40px;
}

.content {
  padding-bottom: 20px;
}
.timeline li:nth-child(odd):before {
  content: "";
  position: absolute;
  top: 19px;
  right: -6px;
  width: 10px;
  height: 10px;
  background-color: #572e91;
  border-radius: 50%;
  box-shadow: 0 0 0 0 3px (233, 33, 99, 0.2);
}
.timeline li:nth-child(even):before {
  content: "";
  position: absolute;
  top: 42px;
  left: -4px;
  width: 10px;
  height: 10px;
  background-color: #572e91;
  border-radius: 50%;
  box-sizing: 0 0 0 3px (233, 33, 99, 0.2);
}

.timeline li:nth-child(3):before {
  top: 66px;
}

.timeline ul li .iimk {
  color: #00aeef;
}

.timeline ul li .time h4 {
}
.timeline li:nth-child(odd) .time {
  position: absolute;
  top: 10px;
  right: -80px;
  color: #7c7c7c;
}
.timeline li:nth-child(even) .time {
  position: absolute;
  top: 30px;
  left: -80px;
  margin: 0;
  color: #7c7c7c;
}

.timeline li:nth-child(3) .time {
  top: 58px;
}

@media (max-width: 1200px) {
  .timeline:before {
    height: 20rem;
  }
  .timeline ul li h5 {
    font-size: 1rem;
  }

  .timeline li:nth-child(odd):before {
    top: 16px;
  }

  .timeline li:nth-child(even):before {
    top: 35px;
  }

  .timeline li:nth-child(3):before {
    top: 54px;
  }
}

@media (max-width: 1000px) {
  .timeline {
    width: 80%;
    padding-bottom: 0px;
  }

  .timeline:before {
    height: 18rem;
  }

  .timeline ul li {
    padding: 0;
  }

  .timeline ul li h5 {
    font-size: 0.8rem;
  }

  .timeline li:nth-child(odd):before {
    top: 12px;
  }

  .timeline li:nth-child(even):before {
    top: 28px;
  }

  .timeline li:nth-child(3):before {
    top: 44px;
  }
}

@media (max-width: 800px) {
  .timeline {
    height: 25rem;
  }

  .timeline ul li h5 {
    font-size: 0.7rem;
  }

  .timeline li:nth-child(odd):before {
    top: 10px;
  }

  .timeline li:nth-child(even):before {
    top: 24px;
  }

  .timeline li:nth-child(3):before {
    top: 38px;
  }
}

@media (max-width: 650px) {
  .timeline li:nth-child(even):before {
    top: 38px;
  }
}

@media (max-width: 500px) {
  .timeline:before {
    height: 16rem;
  }

  .timeline ul li h5 {
    font-size: 0.5rem;
  }

  .timeline li:nth-child(odd):before {
    top: 6px;
  }

  .timeline li:nth-child(even):before {
    top: 25px;
  }

  .timeline li:nth-child(3):before {
    top: 26px;
  }
}

.contact-us {
  padding: 3% 2%;
}

.form-div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

form h5 {
  color: #717171;
}

.custom-radio input[type="radio"] {
  display: none;
}

.custom-radio input[type="radio"] + label {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.custom-radio label span {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 10px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 8px;
  border: 1px solid #572e91;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 44px;
}
.custom-radio input[type="radio"] + label span img {
  opacity: 0;
  width: 30px;
  height: auto;
  transition: all 0.3s ease;
}

.custom-radio input[type="radio"]:checked + label span img {
  width: 30px;
  height: auto;
  opacity: 1;
}

.custom-radio h5 {
  display: inline-block;
  vertical-align: middle;
  padding: 5px 5px 0 0;
  color: #7c7c7c;
}

input {
  width: 30%;
  margin: 20px 20px 20px 0;
  padding: 12px;
  border: 1px solid #572e91;
  border-radius: 15px;
}

input[type="radio"] {
  width: 20px;
  border: 1px solid #572e91;
  font-size: 16px;
}

input::placeholder {
  font-family: "Lato", sans-serif;
  color: #717171;
  font-size: 16px;
}

textarea::placeholder {
  font-family: "Lato", sans-serif;
  color: #717171;
}

button {
  width: 30%;
  margin: 20px 20px 20px 0;
  padding: 12px;
  color: #fff;
  background-color: #572e91;
  border: none;
  border-radius: 15px;
}

button h5 {
  text-align: left;
  color: #fff;
  font-weight: 700;
  padding-left: 3px;
}

textarea {
  width: 62%;
  margin: 20px 20px 20px 0;
  padding: 12px;
  border: 1px solid #572e91;
  border-radius: 15px;
}

/* Timeline Style Ends */

/* Slideshow container */
.slideshow-container {
  position: relative;
  background-image: url(../asset/images/bg.jpg);
}

/* Slides */
.mySlides {
  display: none;
  padding: 5% 2%;
  padding-bottom: 20px;
  width: 75%;
  text-align: left;
}

.mySlides p {
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: left;
  padding: 20px 2%;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
  background-color: #fff;
}

/* Slideshow container Ends*/

/* Animation Background */

/* ---- reset ---- */
canvas {
  display: block;
  vertical-align: bottom;
} /* ---- particles.js container ---- */
#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fcfcfc;
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
} /* ---- stats.js ---- */
.count-particles {
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13e8e9;
  font-size: 0.8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
}
.js-count-particles {
  font-size: 1.1em;
}
#stats,
.count-particles {
  -webkit-user-select: none;
  margin-top: 5px;
  margin-left: 5px;
}
#stats {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}
.count-particles {
  border-radius: 0 0 3px 3px;
}

/* Animation Background Ends */

/* Footer Starts */

footer {
  display: flex;
  flex-direction: row;
  padding: 4% 2%;
  justify-content: space-between;
  background-color: #191919;
  color: #fff;
}

.footer-left {
  display: flex;
  flex-direction: column;
}

.footer-left img {
  width: 12rem;
}

.footer-right {
  display: flex;
  flex-direction: column;
  align-items: end;
  text-align: right;
}

.footer-right h3 {
  color: #fff;
  text-align: right;
}

.footer-right p {
  text-align: right;
  color: #9f9f9f;
  font-size: 0.8rem;
}

.icons a i {
  margin: 10px 5px 0 0;
  color: #717171;
}

/* Footer Ends */
/* Mobile View */

@media (max-width: 1000px) {
  p {
    font-size: 0.7rem;
  }
  .video-bg {
    display: none;
  }

  .banner {
    height: 60vh;
  }

  body {
    overflow-x: hidden;
  }

  nav {
    position: static;
    width: 100%;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom: 2%;
  }

  .nav-links {
    position: absolute;
    right: 0px;
    height: 40vh;
    top: 8vh;
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 5%;
  }

  .nav-links li {
    opacity: 0px;
  }

  .burger {
    display: block;
  }

  .nav-active {
    display: flex;
  }
  .contact-link {
    display: none;
  }
  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .toggle .line2 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
  .active-burger {
    display: none;
  }

  .support {
    min-height: auto;
  }

  .support-icons {
    margin-top: 10px;
  }

  .support-icons img {
    height: 2rem;
  }

  .about-content {
    width: 100%;
  }

  .about-logo {
    display: none;
  }

  .vision-mission {
    display: flex;
    flex-direction: column;
  }

  .mission h3 {
    text-align: right;
  }
  .mission p {
    text-align: right;
  }

  .mySlides {
    width: 95%;
  }

  .contact-us {
    padding: 10% 2%;
  }

  .form-div {
    flex-direction: column;
    align-items: flex-start;
  }

  input {
    width: 80%;
    margin: 3% 0;
  }

  textarea {
    width: 80%;
  }

  .custom-radio {
    flex-direction: row;
    align-items: center;
  }

  .footer-left img {
    width: 5rem;
  }

  .footer-right h3 {
    font-size: 1rem;
  }

  .footer-right p {
    font-size: 0.5rem;
  }
}
