div.middle {
  margin: auto;
  width: 100%;
  text-align: left;
}
div.middle span {
  font-size: 1rem;
}

.text-type-animation {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #00aeef;
}
.txt-rotate {
  color: #00aeef;
}
